.posts {
  margin: 0 auto;
  margin-top: 50px;
  color: black;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      display: flex;
      justify-content: space-evenly;
      position: relative;
      margin-bottom: 100px;

      &__img {
        display: block;
        width: 494px;
        height: 550.85px;
      }

      &__phone {
        width: 699.95px;
        height: 410.39px;
      }

      &__vector {
        z-index: -1;
        width: 524.4px;
        height: 881.45px;
        position: absolute;
        top: -100px;
        left: 180px;

        @media only screen and(max-width: 1280px) {
          width: 424.4px;
          height: 781.45px;
          position: absolute;
          top: -100px;
          left: 180px;
        }
      }

      &__text {
        &__heading {
          width: 390px;
          font-weight: 700;
          font-size: 36px;
          line-height: 52px;
          letter-spacing: 0.3px;
          color: #034d82;
          margin: 0;
          padding: 0;
          margin-top: 80px;
        }

        &__paragraph {
          width: 485px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 0.3px;
          color: #90a3b4;
          margin: 0;
          padding: 0;
          margin-top: 24px;
          margin-bottom: 36px;
        }

        &__link {
          width: 245px;
          height: 21px;
          left: 0.98px;
          top: 260px;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          color: #04aadd;
          text-decoration: none;
          display: flex;
          align-items: center;

          &__arrow {
            margin-left: 6px;
          }
        }
      }
    }
  }
}

.second-list {
  padding-top: 150px;
  display: flex;
  justify-content: center;

  &__heading {
    margin: 0;
  }

  &__paragraph {
    margin: 0;
    padding: 0;
    margin-top: 24px;
  }
}

.first-feature {
  margin-top: 24px;
}

.build-in-features {
  display: block;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.build-in-features::before {
  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  background-image: url(../../../Images/checked_sign.png);
  background-repeat: no-repeat;
  margin-right: 12px;
}

.last-feature {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
